<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <title>Message Board</title>
</head>
<body>
    <h1>The Dojo Message Board</h1>
    <hr>
    <div class="board">
        <form action="postPost" method="post">
            <div class="name">
                <label for="author">Name:</label>
                <br>
                <input name="author" type="text">
            </div>
            <% if(messages.registration) { %>
                <% for (var x of messages.registration) { %>
                    <h3><%= x %></h3>
                <% } %>
            <% } %>
            <div class="post">
                <label for="Post">Post:</label>
                <br>
                <textarea name="content" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="leftify">
                <button class="postButton" type="submit">Post</button>
            </div>
        </form>
        <div class="wall">
            <% if(posts) { %>
                <% for (var post of posts.reverse()) { %>
                    <h3><%= post.content %></h3>
                    <h5><%= post.author %></h5>
                    <% if(post._comments) { %>
                        <% for (var x of post._comments) { %>
                            <div class="messageDiv">
                                <p><span>Name:</span> <%= x.author %></p>
                                <p><span>Comment:</span> <%= x.content %></p>
                            </div>
                            <% } %>
                    <% } %>
                    <form action="createComment/<%= post.id %>" method="post">
                        <input type="hidden" name="postId">
                        <div class="half">
                            <div class="name">
                                <label for="author">Name:</label>
                                <br>
                                <input name="author" type="text">
                                <% if(messages.comment) { %>
                                    <% for (var x of messages.comment) { %>
                                        <h5><%= x %></h5>
                                    <% } %>
                                <% } %>
                            </div>
                            <div class="post">
                                <label for="Post">comment:</label>
                                <br>
                                <textarea name="content" id="" cols="30" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="leftify">
                            <button class="postButton" type="submit">Post</button>
                        </div>
                    </form>
                <% } %>
            <% } %>
            posts go here
        </div>
    </div>
</body>
</html>